html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.all {
    height: 100vh; 
    width: 100vw;  
    background-image: url('szkola-front.jpg');
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
}
.all button{
  top: 73%;
  left: 45%;
  height: 120px;
  width: 250px;
  border-radius: 5%;
  
  position: absolute;
}
#boom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hamburger {
  display: block;
  cursor: pointer;
  padding: 15px;
  z-index: 999;
  position: fixed;
  top: 10px;
  left: 10px;
  
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #d3c8c8;
  margin: 5px 0;
  transition: 0.4s;
}

/* menu */
.menu {
  overflow: hidden;
  max-height: 0;
  flex-direction: column;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 80px;
  width: 100%;
  height: 75px;
  line-height: 75px;
  transition: max-height 0.4s ease-out;
  z-index: 9; 
}

.menu a {
  padding: 15px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.menu a:hover {
  background-color: #ddd;
}

.menu.active {
  max-height: 300px; 
  transition: max-height 0.4s ease-in;
}
  
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* ukrywa paski przewijania */
}

.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Mapa jako tło przesunięte na dół */
.map-container img.map-image {
  position: relative;
  top: 0; /* lub top: 50px; jak chcesz niżej */
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* to sprawia, że jest pod spodem */
}
.but {
  position: relative;
  top: 48%;
  left: 41%;
}

.hidden {
  display: none;
}

#playerSelection {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #333;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.player-options img {
  width: 100px;
  height: auto;
  margin: 0 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.player-options img:hover {
  transform: scale(1.1);
}

#player {
  width: 30px;
  height: 30px;
  position: absolute;
  /* background-color: red; */
  border-radius: 50%;
  z-index: 100;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#closeSelectionBtn {
  margin-top: 10px;
  background-color: #ccc;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 8px;
}

#closeSelectionBtn:hover {
  background-color: #aaa;
}

#playerScore{
  position: fixed;
  top: 25%;
  left: 48%;
  width: 15%;
  height: 15%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #333;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}