html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.all {
    height: 100vh; 
    width: 100vw;  
    background-image: url('szkola-front.jpg');
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
}

.all button{
    top: 73%;
    left: 45%;
    height:120px;
    width:250px;
    border-radius: 5%;
    background-color:aliceblue;
    position: absolute;
}

#boom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
