body {
  margin: 0;
  overflow: hidden;
  background-image: url('Szkoła parter.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  width: 100vw;
  height: 100vh;
  margin: 0;
}
canvas {
  display: block;
  position: absolute; 
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.joystick {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.joystick-handle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.player {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute; 
  top: 790px;
  left: 625px;
}
.school-map {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.school-map img {
  width: 100%;
  height: auto;
  display: block;
}

.character {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 50%;
}

.room {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid red;
}
