html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.joystick {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(155, 155, 155, 0.6);
}
.joystick-handle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(51, 51, 51, 0.9);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.school-map {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(9, 60px);
  top: 0px;
}

.school-map img {
  width: 100%;
  height: auto;
  display: block;
}

#player {
  position: absolute;
  width: 18px;
  height: 18px;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  z-index: 100;
}

#player:focus {
  outline: none;
  border: none;
  box-shadow: none;
}


#questionBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 2px solid black;
}
.answer-button {
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.answer-button:hover {
  background-color: lightgray;
}


.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.map-container img.map-image {
  position: relative;
  top: 0; /* lub top: 50px; jak chcesz niżej */
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* to sprawia, że jest pod spodem */
}
.block {
  position: relative;
  /* background-color: rgba(0, 0, 255, 0.3); */
}
.room {
  position: relative;
  /* background-color: rgba(143, 10, 125, 0.7);*/ 
}
.chemia{
  top: 30.4%;
  left: 24.2%;
  width: 1.2%;
  height: 4.5%;
}
.matma{
  top: 26%;
  left: 27.5%;
  width: 1.2%;
  height: 4.5%;
}
.geo{
  top: 21.3%;
  left: 30.9%;
  width: 1.2%;
  height: 4.5%;
}
.bazy{
  top: 16.9%;
  left: 34.3%;
  width: 1.2%;
  height: 4.5%;
}
.strony{
  top: 12.4%;
  left: 37.7%;
  width: 1.2%;
  height: 4.5%;
}
.bio{
  top: 8%;
  left: 41.2%;
  width: 1.2%;
  height: 4.5%;
}
.hist{
  top: 3.5%;
  left: 44.6%;
  width: 1.2%;
  height: 4.5%;
}
.ang{
  top: -1.1%;
  left: 47.9%;
  width: 1.2%;
  height: 4.5%;
}
.pol{
  top: 30.2%;
  left: 24.3%;
  width: 4.3%;
  height: 4.5%;
}
.fizyka{
  top: 25.7%;
  left: 31%;
  width: 4.5%;
  height: 4.5%;
}
.hiszpanski{
  top: 21.2%;
  left: 37.9%;
  width: 4.5%;
  height: 4.5%;
}
.inf{
  top: 16.7%;
  left: 44.7%;
  width: 4.5%;
  height: 4.5%;
}
.obiektowe{
  top: 12.2%;
  left: 51.4%;
  width: 12%;
  height: 4.5%;
}
.hit{
  top: 23.2%;
  left: 66.4%;
  width: 12%;
  height: 4%;
}
.niemiecki{
  top: 31.6%;
  left: 66.4%;
  width: 12%;
  height: 4.5%;
}
.pai{
  top: 15%;
  left: 80.4%;
  width: 1.2%;
  height: 16.3%;
}
.zpi{
  top: 30.2%;
  left: 24.3%;
  width: 4.3%;
  height: 4.5%;
}
.biz{
  top: 25.7%;
  left: 31%;
  width: 4.5%;
  height: 4.5%;
}
.p_inf{
  top: 12.2%;
  left: 51.4%;
  width: 12%;
  height: 4.5%;
}
.alg{
  top: 23.4%;
  left: 66.4%;
  width: 12%;
  height: 4%;
}
.muzyka{
  top: 31.6%;
  left: 66.4%;
  width: 12%;
  height: 4.5%;
}
.edb{
  top: 15%;
  left: 80.4%;
  width: 1.2%;
  height: 16.3%;
}
.mat{
  top: 21.2%;
  left: 37.9%;
  width: 4.5%;
  height: 4.5%;
}
.biol{
  top: 16.7%;
  left: 44.7%;
  width: 4.5%;
  height: 4.5%;
}
#sale {
  top: 44.3%;
  left: 24.2%;
  width: 30%;
  height: 7.9%;
}

#hol {
  top: -33.2%;
  left: 51.4%;
  width: 12%;
  height: 81.2%;
}
#hol_pietro {
  top: -10.8%;
  left: 51.4%;
  width: 12%;
  height: 48.2%;
}
#dyr {
    top: -87%;
    left: 63.25%;
    width: 8.6%;
    height: 26.5%;
}
#kor_pietro {
    top: -44%;
    left: 63.25%;
    width: 16.5%;
    height: 5.5%;
}
#schody{
    top: -88.8%;
    left: 46%;
    width: 6%;
    height: 7.7%;
}

#laz_l{
    top: -88%;
    left: 40.6%;
    width: 5%;
    height: 8.7%;
}
#laz_p{
    top: -79.7%;
    left: 45.9%;
    width: 4.6%;
    height: 12.3%;
}
#schody_pietro{
    top: -46.1%;
    left: 46%;
    width: 6%;
    height: 7.7%;
}

#laz_lpietro{
    top: -45.5%;
    left: 40.6%;
    width: 5%;
    height: 8.7%;
}
#laz_ppietro{
    top: -37%;
    left: 45.9%;
    width: 4.6%;
    height: 12.3%;
}
#scoreBox {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #222;
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 18px;
  z-index: 9999;
  font-family: sans-serif;
}
#nextClass {
   display: none;
    top: -107.9%;
    left: 43.9%;
    width: 5%;
    height: 10.7%;
    text-wrap: auto;
  }
#but {
    position: relative;
    z-index: 10;
    padding: 10px;
    margin: 5px;
    background-color: #0000007a;
    color: white;
    border: none;
    cursor: pointer;
    height: 100%;
    font-family: sans-serif;
    font-size: 90%;
    width: 100%;
    border-radius: 5px;
}
.hamburger {
  display: block;
  cursor: pointer;
  padding: 15px;
  z-index: 999;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}